*{
	box-sizing: border-box;
}

.miNavbar{
    background: linear-gradient(180deg, rgb(68, 20, 84), rgb(59, 76, 0));
}

body{
	margin:0;
	background-image: url("imagenes/fondo-body.jpg");
	image-rendering: optimizeSpeed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.miForm{
    padding-right: 15px;
    padding-top: 8px;
}

.presentacion{
	font-size: 100px;
	padding-top: 5px;
	padding-bottom: 200px;
	font-family: sans-serif;
	text-align: center;
	color: cornflowerblue;
	text-shadow: 5px 5px 10px black;
	width: 100%;
}

.cabecera{
	text-align: center;
}

header{
	display: flex;
	justify-content: center;
	background-image: url("imagenes/image-header.jpg");
	image-rendering: optimizeSpeed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;	
}

.enlace{
	border-width: 0px;
	border-radius: 10px;
	font-family: sans-serif;
	text-align: center;
	padding-top: 20px;
	color: gray;
}

.flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.master{
	display: flex;
	justify-content: center;
}

p{
	margin: 0px;
}

.titulo-targeta{
	text-align: center;
}

.nombre{
	padding-left: 15px;
}

.retoqueFoto img {
	border-radius: 30px;
	border: 1px;
	border-style: solid;
	border-color: gray;	
}

.retoqueFoto{
	transition: 0.4s ease;
}

.retoqueFoto:hover{
	transform: scale(2.5, 2.5);
}

.etiqueta {
	font-style: italic;
	font-family: cursive;
	width: 300px;
	height: 150px;
	margin: 20px;
	padding: 5px;
	background-image: url(imagenes/ispc.png);
	background-size: cover;
	background-color: cornflowerblue;
	justify-content: left;
	border-radius: 10px;
	box-shadow: 5px 5px 10px gray;
	transition: 0.3s ease;	
}

.etiqueta:hover{
	cursor: pointer;
	transform: scale(1.2, 1.2);
}

.materia{
	padding: 5px;
	padding-top: 0px;
	font-style: normal;
}

.foto {
	padding-left: 10px;
	display: flex;
}

footer{
    margin: 0px;
    padding: 0px;
	background-color: #441454;
}

.miPie{
    margin-top: 0px;
    padding-top: 10px;
	padding-bottom: 10px;
}

.boton{
	font-family: sans-serif;
	font-weight: bold;
	background-color: cornflowerblue;
	border: none;
	padding: 5px;
	margin: 0px;
	transition: 0.3s ease;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 4px 4px 10px gray;
}

.boton:hover{
	transform: translate(-5px, -5px );
	text-shadow: 1px 1px whitesmoke;
}

@media screen and (max-width: 2000px){
	.presentacion{
		font-size: 100px;
		padding-bottom: 600px;
	}
}

@media screen and (max-width: 1000px){
	.presentacion{
		font-size: 65px;
		padding-bottom: 400px;
	}
}

@media screen and (max-width: 600px){
	.presentacion{
		font-size: 40px;
	}
}