:root {
    --ColorPrincipal: #441454;
    --ColorAlternante: #fcf304;

    

    --FuenteMartel: "Martel Sans", sans-serif;
      --FuenteZilla:"ZillaSlabHighlight";
   --FuenteMontserrat:"Montserrat";
   --FuenteYadelvi:"Yaldevi";
  --FuenteArchivo:"Archivo";

}

@font-face {
  font-family: "ZillaSlabHighlight";
  src: url(./fonts/ZillaSlabHighlight-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Oxanium-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Yaldevi";
  src: url(/fonts/YaldeviColombo-Bold.ttf);
}
  @font-face {
    font-family: "Archivo";
    src: url(/fonts/Archivo-Regular.ttf);
  }

/*barra de navegacion*/
.barra-nav{

width: 100%;
height: 128px;
margin-top: 0px;
margin-bottom: 0px;

background: var(--ColorPrincipal);

}
.flex {
    display: flex;
    justify-content: space-between;
}
.logotipo{
  font-family: var(--FuenteYaldevi);
  font-size: 50px;
  color:#ffffff;
  margin: 30px;
}
.btn-princ {
    margin-top: 30px;
    display: flex;
    flex-direction: reverse;
    align-items: center;
    justify-content: center;
}
.btn-prim{
font-family: var(--FuenteZilla);
color: var(--ColorAlternante);
font-size: 25px;

margin:10px;
}
.st-btn-princ{
 font-family: var(--FuenteMartel);
background-color: var(--ColorAlternante);
margin:10px;

/*texto principal*/
}
.texto-principal{
  margin:50px;
  text-align: center;
  font-family: var(--FuenteMontserrat);
  font-size: 500px;
}
/*botonos de los destinos turisticos por continentes*/
.btn-destinos{
display: flex;
flex-wrap: wrap;
align-items: center;
margin-left: 90px;

}
.btn-destinos-abajo{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 850px;
}
.img-destino{
max-width:500px;
max-height: 500px;
}

.btn-text-destinos{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 300px;
  font-size: 40px;
}
/*footer*/
footer{

width: 100%;
height: 500px;
margin-top: 0px;
margin-bottom: 0px;

background: var(--ColorPrincipal);



}
.text-footer{
  font-family: var(--FuenteArchivo);
  color: #ffffff;
  font-size: 30px;
  align-items: center;
  display: flex;
}