<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href=./static/css/style.css>
  <title>Islas</title>
</head>

<header class="p-3 text-bg-dark barra-nav">
  <div>
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <h1 class="logotipo"><a href="/" class="logotipo" style="text-decoration:none">ISPC Viajes</a></h1>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/argentina" class="nav-link px-2 text-white">Argentina</a></li>
        <li><a href="/america" class="nav-link px-2 text-white">America</a></li>
        <li><a href="/africa" class="nav-link px-2 text-white">Africa</a></li>
        <li><a href="/asia" class="nav-link px-2 text-white">Asia</a></li>
        <li><a href="/europa" class="nav-link px-2 text-white">Europa</a></li>
        <li><a href="/oceania" class="nav-link px-2 text-white">Oceania</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Buscar..."
          aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-dark me-2 btn-prim">Ingresar</button>
        <button type="button" class="btn btn-outline-dark btn-prim">Registrate</button>
      </div>
    </div>
  </div>
</header>

<section class="texto-principal">
  <h2>Encontrá tu isla en el mundo</h2>
</section>

<section class="container-fluid" class="tarjetas">

  <div class="row w-90">
    <div class="col-lg-4 col-md-6 col-sm-12">

      <div class="card">
        <img src="./static/images/destinobali.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bali</h5>
          <p class="card-text">Es una isla de Indonesia conocida por sus frondosas montañas volcánicas, los icónicos
            arrozales, las playas y los arrecifes de coral.
            La isla alberga sitios religiosos, como el templo Uluwatu en un acantilado.</p>
          <h6>Destacados</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">Ubud</a>
          </li>
          <li class="list-group-item">
            <a href="#">Templo Luhur Uluwatu</a>
          </li>
          <li class="list-group-item">
            <a href="#">Terrazas de arroz</a>
          </li>
          <li class="list-group-item">
            <a href="#">Pura Tanah Lot</a>
          </li>
          <li class="list-group-item">
            <a href="#">Volcanes</a>
          </li>
          <li class="list-group-item">
            <a href="#">Cascadas</a>
          </li>
        </ul>
      </div>
    </div>




    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <img src="./static/images/destinosantorini.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Santorini</h5>
          <p class="card-text">Una de las islas Cícladas en el mar Egeo. Fue devastada por una erupción volcánica en el
            siglo XVI a. C., que dio forma a su paisaje accidentado. Las casas cúbicas encaladas en sus 2 ciudades
            principales, Fira y Oia, se aferran a los acantilados sobre un cráter subterráneo. Estas tienen vista al
            mar,
            las pequeñas islas al oeste y las playas de piedras de lava blancas, rojas y negras.</p>

          <h6>Destacados</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">Fira</a>
          </li>
          <li class="list-group-item">
            <a href="#">Oia</a>
          </li>
          <li class="list-group-item">
            <a href="#">PLaya de Kamari</a>
          </li>
          <li class="list-group-item">
            <a href="#">Playa Roja</a>
          </li>
          <li class="list-group-item">
            <a href="#">Kolumbo Beach</a>
          </li>
          <li class="list-group-item">
            <a href="#">Bahía de Amoudi</a>
          </li>
        </ul>
      </div>
    </div>



    <div class=" col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <img src="./static/images/destinomaui.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Maui</h5>
          <p class="card-text">Isla del Pacífico central, que forma parte del archipiélago hawaiano. El extenso Parque
            Nacional Haleakala incluye la cima más alta de la isla, el volcán Haleakala, junto con las piscinas y
            cascadas de la quebrada Ohe'o,
            a la que se accede a través de la serpenteante carretera Hana que recorre lugares pintorescos.</p>
          <h6>Destacados</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">Parque Nacional Haleakala</a>
          </li>
          <li class="list-group-item">
            <a href="#">Kihei</a>
          </li>
          <li class="list-group-item">
            <a href="#">Paia</a>
          </li>
          <li class="list-group-item">
            <a href="#">Kahului</a>
          </li>
          <li class="list-group-item">
            <a href="#">Hana</a>
          </li>
          <li class="list-group-item">
            <a href="#">Wailuku</a>
          </li>
        </ul>
      </div>
    </div>


    <div class=" col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <img src="./static/images/destinocapri.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Isla de Capri</h5>
          <p class="card-text">Isla de la bahía de Nápoles en Italia, famosa por su paisaje escabroso, los hoteles
            exclusivos y el comercio, desde la moda de diseñador hasta el limoncello y sandalias de cuero fabricadas a
            mano. Uno de sus sitios naturales más conocidos es la Gruta Azul, una caverna oscura donde el mar brilla con
            un color azul eléctrico, producto del paso de la luz solar a través de una cueva submarina.</p>
          <h6>Destacados</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">La Gruta Azul</a>
          </li>
          <li class="list-group-item">
            <a href="#">Puerto Marina</a>
          </li>
          <li class="list-group-item">
            <a href="#">Monte Solaro</a>
          </li>
          <li class="list-group-item">
            <a href="#">Villa San Michele</a>
          </li>
          <li class="list-group-item">
            <a href="#">Villa Jovis</a>
          </li>
          <li class="list-group-item">
            <a href="#">Faro Di Punta Carena</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <img src="./static/images/destinomargarita.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Isla de Margarita</h5>
          <p class="card-text">Es parte de Venezuela y se ubica en el mar Caribe, a unos 40 km al norte del continente.
            Es un destino vacacional popular que incluye 2 penínsulas
            conectadas por la arena y los manglares del parque nacional Laguna de La Restinga.</p>
          <h6>Destacados</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">Playa El Yaque</a>
          </li>
          <li class="list-group-item">
            <a href="#">Playa Parguito</a>
          </li>
          <li class="list-group-item">
            <a href="#">Playa Caribe</a>
          </li>
          <li class="list-group-item">
            <a href="#">Parque Nacional Laguna de La Restinga</a>
          </li>
          <li class="list-group-item">
            <a href="#">Playa Paraíso</a>
          </li>
          <li class="list-group-item">
            <a href="#">Museo Marino de Margarita</a>
          </li>
        </ul>
      </div>
    </div>


    <div class=" col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <img src="./static/images/destinocaiman.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gran Caimán</h5>
          <p class="card-text">Es la más grande de las Islas Caimán, un territorio británico de
            ultramar en el Caribe. En George Town, su capital, está el Museo Nacional de las Islas Caimán, dedicado al
            patrimonio de estas islas. La ciudad es también un importante puerto de cruceros y cuenta con las ruinas del
            fuerte George de la época colonial. Las playas y los vibrantes arrecifes de coral son los elementos
            distintivos de la isla. </p>
          <h6>Destacados</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">Seven Mile Beach</a>
          </li>
          <li class="list-group-item">
            <a href="#">Camana Bay</a>
          </li>
          <li class="list-group-item">
            <a href="#">Pedro St. James</a>
          </li>
          <li class="list-group-item">
            <a href="#">Cayman Crystal Caves</a>
          </li>
          <li class="list-group-item">
            <a href="#">Parque Nacional Barker's </a>
          </li>
          <li class="list-group-item">
            <a href="#">Playa Barefoot</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>

<footer class="py-3 my-8">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted text-footer">Términos y Condiciones</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted text-footer">FAQs</a></li>
    <li class="nav-item"><a href="/nosotros" class="nav-link px-2 text-muted text-footer">Nosotros</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted text-footer">Contacto</a></li>

  </ul>
  <p class="text-center text-muted text-footer">© 2022 Company, Inc</p>
</footer>

<body>


</body>

</html>