<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href=./static/css/style.css>
  <title>Oceania</title>
</head>

<header class="p-3 text-bg-dark barra-nav">
  <div>
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <h1 class="logotipo"><a href="/" class="logotipo" style="text-decoration:none">ISPC Viajes</a></h1>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/argentina" class="nav-link px-2 text-white">Argentina</a></li>
        <li><a href="/america" class="nav-link px-2 text-white">America</a></li>
        <li><a href="/africa" class="nav-link px-2 text-white">Africa</a></li>
        <li><a href="/asia" class="nav-link px-2 text-white">Asia</a></li>
        <li><a href="/europa" class="nav-link px-2 text-white">Europa</a></li>
        <li><a href="/oceania" class="nav-link px-2 text-white">Oceania</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Buscar..."
          aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-dark me-2 btn-prim">Ingresar</button>
        <button type="button" class="btn btn-outline-dark btn-prim">Registrate</button>
      </div>
    </div>
  </div>
</header>

<section class="texto-principal">
  <h2>Encontrá tu destino en Oceania</h2>
</section>

<section class="container-fluid" class="tarjetas">

  <div class="row w-90">
    <div class="col-lg-4 col-md-6 col-sm-12">

      <div class="card">
        <img src="./static/images/destinoaustralia.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Australia</h5>
          <p class="card-text">Australia es un país rodeado por los océanos Índico y Pacífico. Sus ciudades principales
            son costeras. Su capital, Canberra, se encuentra en el interior. El país es conocido por la Casa de la Ópera
            de Sídney,
            la Gran Barrera de Coral, una vasta área natural desértica conocida como Outback y especies animales únicas,
            como el canguro y el ornitorrinco.</p>
          <h6>Destacados</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">Sidney</a>
          </li>
          <li class="list-group-item">
            <a href="#">Brisbane</a>
          </li>
          <li class="list-group-item">
            <a href="#">Melbourne</a>
          </li>
          <li class="list-group-item">
            <a href="#">Perth</a>
          </li>
          <li class="list-group-item">
            <a href="#">Adelaida</a>
          </li>
          <li class="list-group-item">
            <a href="#">Canberra</a>
          </li>
        </ul>
      </div>
    </div>




    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <img src="./static/images/destinonuevazelanda.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nueva Zelanda</h5>
          <p class="card-text">país en el suroeste del océano Pacífico, que comprende dos islas principales ambas
            marcadas por los volcanes y la glaciación.
            El impresionante monte Victoria de Wellington, junto con Fiordland y Southern Lakes en la Isla Sur,
            representaron la mítica Tierra Media en la saga
            "El Señor de los Anillos" de Peter Jackson</p>
          <h6>Destacados</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">Auckland</a>
          </li>
          <li class="list-group-item">
            <a href="#">Wellington</a>
          </li>
          <li class="list-group-item">
            <a href="#">Monte Cook</a>
          </li>
          <li class="list-group-item">
            <a href="#">Dunedin</a>
          </li>
          <li class="list-group-item">
            <a href="#">Hamilton</a>
          </li>
          <li class="list-group-item">
            <a href="#">Christchurch </a>
          </li>
        </ul>
      </div>
    </div>



    <div class=" col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <img src="./static/images/destinofiyi.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fiyi</h5>
          <p class="card-text">Fiyi, un país del Pacífico Sur, es un archipiélago de más de 300 islas. Es famoso por sus
            paisajes escabrosos, las playas bordeadas de palmeras y los arrecifes de coral con lagunas de aguas
            cristalinas. Sus islas más importantes,
            Viti Levu y Vanua Levu, albergan la mayor parte de la población. </p>
          <h6>Destacados</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">Suva</a>
          </li>
          <li class="list-group-item">
            <a href="#">Lautoka</a>
          </li>
          <li class="list-group-item">
            <a href="#">Soso</a>
          </li>
          <li class="list-group-item">
            <a href="#">Sigatoka</a>
          </li>
          <li class="list-group-item">
            <a href="#">Nadi</a>
          </li>
          <li class="list-group-item">
            <a href="#">Isla Denarau</a>
          </li>
        </ul>
      </div>
    </div>


    <div class=" col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <img src="./static/images/destinopolifrancesa.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Polinesia Francesa</h5>
          <p class="card-text">na colectividad francesa en ultramar, incluye más de 100 islas en el Pacífico Sur y se
            extiende por más de 2,000 km. Se divide en los archipiélagos Austral, Gambier, Marquesas, La Sociedad y
            Tuamotu,
            son conocidas por sus lagunas bordeadas de corales y sus hoteles bungaló sobre el mar. </p>
          <h6>Destacados</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">Bora bora</a>
          </li>
          <li class="list-group-item">
            <a href="#">Tahiti</a>
          </li>
          <li class="list-group-item">
            <a href="#">Rangiroa</a>
          </li>
          <li class="list-group-item">
            <a href="#">Moorea</a>
          </li>
          <li class="list-group-item">
            <a href="#">Raiatea</a>
          </li>
          <li class="list-group-item">
            <a href="#">Papeete</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <img src="./static/images/destinonuevacaledonia.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nueva Caledonia</h5>
          <p class="card-text">Es un territorio francés que incluye docenas de islas en el Pacífico Sur. Es conocida por
            sus playas bordeadas de palmeras y su laguna con abundantes especies marinas
            que, con sus 24,000 km2, se encuentra entre las más grandes del mundo.</p>
          <h6>Destacados</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">Numea</a>
          </li>
          <li class="list-group-item">
            <a href="#">Bourail</a>
          </li>
          <li class="list-group-item">
            <a href="#">Dumbéa</a>
          </li>
          <li class="list-group-item">
            <a href="#">Poindimié</a>
          </li>
          <li class="list-group-item">
            <a href="#">La Foa</a>
          </li>
          <li class="list-group-item">
            <a href="#">Koumac</a>
          </li>
        </ul>
      </div>
    </div>


    <div class=" col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <img src="./static/images/destinopalaos.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Palaos</h5>
          <p class="card-text"> Palaos es un archipiélago de más de 500 islas, forma parte de la región de Micronesia en
            el océano Pacífico occidental. En la isla de Koror, se encuentra la antigua capital, también llamada Koror,
            que además es el centro comercial de las islas.
            La isla Babeldaob es más grande y en ella se encuentra la capital actual. </p>
          <h6>Destacados</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">Koror</a>
          </li>
          <li class="list-group-item">
            <a href="#">Melekeok</a>
          </li>
          <li class="list-group-item">
            <a href="#">Lago de las Medusas</a>
          </li>
          <li class="list-group-item">
            <a href="#">Islas Chelbacheb</a>
          </li>
          <li class="list-group-item">
            <a href="#">Isla Malakal</a>
          </li>
          <li class="list-group-item">
            <a href="#">Isla Babeldaob</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>

<footer class="py-3 my-8">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted text-footer">Términos y Condiciones</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted text-footer">FAQs</a></li>
    <li class="nav-item"><a href="/nosotros" class="nav-link px-2 text-muted text-footer">Nosotros</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted text-footer">Contacto</a></li>

  </ul>
  <p class="text-center text-muted text-footer">© 2022 Company, Inc</p>
</footer>
<body>


</body>

</html>